# Python/Streamlit Cache
__pycache__/
.streamlit/

# Build/Node
node_modules/
dist/
out/
build/
*.log
*.cache
.pnpm-store/
pnpm-lock.yaml

# Tools/Artefakte
tools/*.zip
*.zip

# Editor/OS
/.idea/
/.vscode/
.DS_Store
